@model IEnumerable<HotelSystem.Models.History>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        @TempData["Success"]
    </div>
}
<section class="ad-post bg-gray py-5">
    <div class="container col-md-8">
        <fieldset class="border border-gary p-4 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading alert alert-info">
                                    <h3 class="panel-title pull-right"><b style="color:#dd4b39; text-transform:capitalize;"> Booking No. @Html.DisplayFor(modelItem => item.HistoryId)</b></h3><span class="panel-title"><h3 class="panel-title">Welome, @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</h3></span>
                                </div><hr />
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="container col-md-12">
                                            <table class="table">

                                                <tr>
                                                    <h5 class="alert alert-info"><b>Personal Information</b></h5>
                                                    <hr />
                                                    <div class="col-md-12">
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                            &nbsp;&nbsp;
                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.Name) </b></span>
                                                        </div><br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.Surname)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.Surname) </b></span>
                                                        </div><br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.GuestEmail)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.GuestEmail) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.Address)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.Address) </b></span>
                                                        </div>
                                                    </div>
                                                </tr><hr />
                                                <tr>
                                                    <h5 class="alert alert-info"><b>Room Details</b></h5>
                                                    <hr />
                                                    <div class="col-md-12">
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.RoomType)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.RoomType) </b></span>
                                                        </div><br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.RoomPrice)

                                                            <span class="pull-right"><b> R @Html.DisplayFor(modelItem => item.RoomPrice) </b></span>
                                                        </div>
                                                    </div>

                                                </tr><hr />
                                                <tr>
                                                    <h5 class="alert alert-info"><b>Booking Details</b></h5>
                                                    <hr />
                                                    <div class="col-md-12">
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.RefNum)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.RefNum) </b></span>
                                                        </div><br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.CheckInDate)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.CheckInDate) </b></span>
                                                        </div><br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.CheckOutDate)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.CheckOutDate) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.BookingDate)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.BookingDate) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.DepositAmt)

                                                            <span class="pull-right"><b> R @Html.DisplayFor(modelItem => item.DepositAmt) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.Total)

                                                            <span class="pull-right"><b> R @Html.DisplayFor(modelItem => item.Total) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.NumberOfDays)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.NumberOfDays) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.NumberOfPeople)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.NumberOfPeople) </b></span>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            @Html.DisplayNameFor(model => model.Status)

                                                            <span class="pull-right"><b> @Html.DisplayFor(modelItem => item.Status) </b></span>
                                                        </div>
                                                    </div>
                                                </tr><hr />
                                                <tr>
                            <dd class="pull-right">
                                <a class="btn btn-outline-primary" onclick="print()"><i class="fa fa-print"></i> Print</a>
                            </dd>

                            </tr>
                            </table>
                    </div>
                </div>
        </div>
        </div>
    }
                        </dl>
                        </div>
                        </div>
                        </fieldset>
                        </div>
                    </section>
