@using HotelSystem.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (User.IsInRole("Admin"))
    {
    <title>Prometheus Hotel - Admin</title>
    }
    @if (User.IsInRole("Guest"))
    {
    <title>Prometheus Hotel - Guest</title>
    }
    @if (User.IsInRole("Receptionist"))
    {
    <title>Prometheus Hotel - Receptionist</title>
    }
    else
    {
    <title>Prometheus Hotel</title>
    }
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <link href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/morris/morris.css" rel="stylesheet" />
    <!-- Date Picker -->
    <link href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <style>
        .btn-default {
            color: black;
            background-color: lightgray;
            border-color: lightgray;
        }
    </style>
</head>
<body class="hold-transition slider sidebar-mini">
    @using PagedList;
    @using PagedList.Mvc;
    @{
    ApplicationDbContext db = new ApplicationDbContext();


   // int guest = db.cu.Count();
    int rooms = db.Room.Count();
    int types = db.RoomTypes.Count();
    int hotel = db.Hotels.Count();
    //int location = db.Locations.Count();

    }
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="color: blue;"><b><i class="fa fa-smile-o"></i></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Welcome</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <span>
                        @if (Request.IsAuthenticated)
                        {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                        @Html.AntiForgeryToken()

                        }
                        }
                    </span>
                    @{
                    var department_Service = new PrometheusHotel.Models.Department_Service();

                    var cart_Service = new PrometheusHotel.Models.Cart_Service();
                    double total = 0;
                    }
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-shopping-cart"></span> Room Service Request! (@Html.Action(actionName: "countCartItems", controllerName: "Shopping"))<span class="caret"></span></a>
                            <ul class="dropdown-menu mega">
                                <ul class="sub-menu">
                                    <table class="table">
                                        <tr style="background: #f3f3f3;">
                                            <th>Item</th>
                                            <th>
                                            </th>
                                            <th style="text-align:center">
                                                Quantity
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th style="text-align:center">
                                                Sub-Total
                                            </th>
                                        </tr>
                                        @if (cart_Service.GetCartItems().Count() == 0)
                                        {
                                        <tr>
                                            <th colspan="5" style="text-align:center">Your cart is empty</th>
                                        </tr>
                                        }
                                        @foreach (var item in cart_Service.GetCartItems().OrderBy(x => x.Item.Name))
                                        {
                                        <tr>
                                            <td>
                                                @if (item.Item.Picture != null)
                                                {
                                                var base64 = Convert.ToBase64String(item.Item.Picture);
                                                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                                                <img src="@imgSrc" width="30" height="30" />
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action(" Details","Items", new { id=item.Item.ItemCode })">@item.Item.Name</a>
                                            </td>
                                            <td style="text-align:center">
                                                @item.quantity
                                            </td>
                                            <td>
                                                @item.Item.Price.ToString("C")
                                            </td>
                                            <td style="text-align:center">
                                                @{
                                                var subtotal = item.quantity * item.Item.Price;
                                                total += subtotal;
                                                }
                                                @subtotal.ToString("C")
                                            </td>
                                        </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align:center">
                                                Total
                                            </td>
                                            <th style="text-align:center">
                                                @total.ToString("C")
                                            </th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-default" href="@Url.Action(" Index","Shopping")">
                                                    <i class="fa fa-list"></i> Shop More
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="@Url.Action(" ShoppingCart", "Shopping" )">
                                                    <i class="fa fa-shopping-cart"></i> View Cart
                                                </a>
                                            </td>
                                            <td>
                                                @if (cart_Service.GetCartItems().Count() == 0)
                                                {
                                                <a class="btn btn-default disabled" href="@Url.Action(" Checkout","Shopping")">
                                                    <i class="fa fa-lock"></i> Checkout
                                                </a>
                                                }
                                                else
                                                {
                                                <a class="btn btn-default" href="@Url.Action(" Checkout","Shopping")">
                                                    <i class="fa fa-lock"></i> Checkout
                                                </a>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </ul>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (Request.IsAuthenticated)
                                {
                                <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                                }
                                else
                                {
                                <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="user-image" alt="User Image">
                                }
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @if (Request.IsAuthenticated)
                                    {
                                    <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="img-circle" alt="User Image">
                                    <p style="color:green">
                                        @User.Identity.GetUserName()
                                        <small>@DateTime.Now</small>
                                    </p>
                                    }
                                    else
                                    {
                                    <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="img-circle" alt="User Image">
                                    <p style="color:green">
                                        @User.Identity.GetUserName()
                                        <small>@DateTime.Now</small>
                                    </p>
                                    }

                                </li>
                                @if (Request.IsAuthenticated)
                                {
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Guests/GuestList" class="btn btn-default" style="color:black">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:document.getElementById('logoutForm').submit()" title="Logout" class="btn btn-default" style="color:black">Logout</a>
                                    </div>
                                </li>
                                }
                                else
                                {
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Account/Register" class="btn btn-default" style="color:black">New Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Account/Login" title="Logout" class="btn btn-default" style="color:black">Login</a>
                                    </div>
                                </li>
                                }
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @if (Request.IsAuthenticated)
                        {
                        <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="img-circle" alt="User Image">
                        }
                        else
                        {
                        <img src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/img/user.png" class="img-circle" alt="User Image">
                        }
                    </div>
                    <div class="pull-left info">
                        @if (User.IsInRole("Guest"))
                        {
                        <p>Guest</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                        <p>Administrator</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        }
                        @if (User.IsInRole("Receptionist"))
                        {
                        <p>Receptionist</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        }

                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header"><strong>PROMETHEUS SERVICES</strong></li>
                    <li>
                        <a href="~/Home/LocationIndex"><i class="fa fa-home"></i> Prometheus</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Administration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Account/RegisterStaff"><i class="fa fa-user-plus "></i> Create User</a>
                            </li>
                            <li>
                                <a href="~/Hotels/Index"><i class="fa fa-building "></i> Blocks</a>
                            </li>

                            <li>
                                <a href="~/RoomTypes/Index"><i class="fa fa-cog "></i> Types of Rooms</a>
                            </li>

                            <li>
                                <a href="~/Rooms/Index"><i class="fa fa-hotel"></i> Rooms</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Manage Room Services</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Departments/Index"><i class="fa fa-list "></i> View all Categories</a>
                            </li>

                            <li>
                                <a href="~/items/Index"><i class="fa fa-list "></i> View all Items</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Spa Service</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a href="@Url.Action(" Index","SpaServices")"><i class="fa fa-smile-o"></i> Spa Service</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Laundry Service</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action(" Index","LaundryServices")"><i class="fa fa-plus"></i> Manage Services</a>
                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action(" Index","Weighttts")"><i class="fa fa-plus"></i> Add Weights</a>
                            </li>
                        </ul>
                    </li>
                    }

                    @if (User.IsInRole("Receptionist"))
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Guest Enquiry</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a href="~/Account/Register"><i class="fa fa-user-plus "></i> New Guest</a>
                            </li>
                            <li>
                                <a href="~/Hotels/Index"><i class="fa fa-building "></i> Blocks</a>
                            </li>
                            <li>
                                <a href="~/RoomTypes/Index"><i class="fa fa-cog"></i> Type of Rooms</a>
                            </li>
                            <li>
                                <a href="~/Rooms/Index"><i class="fa fa-bed"></i> Rooms</a>
                            </li>
                        </ul>
                    </li>

                    }
                    @if (User.IsInRole("Receptionist"))
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Respond Queries</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a href="~/Home/RespondChat"><i class="fa fa-comments-o"></i> Respond Chats</a>
                            </li>
                            <li>
                                <a href="~/Home/RatingIndex"><i class="fa fa-star "></i> Ratings</a>
                            </li>
                        </ul>
                    </li>
                    }

                    @if (User.IsInRole("Guest"))
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>My Enquiry</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a href="~/Bookings/Index"><i class="fa fa-calendar-plus-o"></i> My Bookings</a>
                            </li>
                            <li>
                                <a href="~/Home/LocationIndex"><i class="fa fa-check-square"></i> View Hotels</a>
                            </li>
                            <li>
                                <a href="~/Bookings/ViewPoints"><i class="fa fa-cog"></i> View Accumulated Points</a>
                            </li>

                            <li>
                                <a href="~/GenerateBill/GetMyBill"><i class="fa fa-credit-card-alt"></i> Make Payment</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Spa Service</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action(" Index","SpaServices")"><i class="fa fa-trash-o"></i> Spa Bookings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Laundry Service</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li>
                                <a href="@Url.Action(" Index","Laundries")"><i class="fa fa-trash-o"></i> Laundry</a>
                            </li>
                        </ul>
                    </li>

                    }

                    @if (User.IsInRole("Guest"))
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Request Room Service</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action(" Index","Shopping",new { id=0})"><i class="fa fa-th-list "></i> All Category </a>
                            </li>
                            @foreach (var department in department_Service.GetDepartments().OrderBy(x => x.Department_Name))
                            {
                            <li><a href="@Url.Action(" Index","Shopping",new { id=department.Department_ID })"><i class="fa fa-code-fork"></i> @department.Department_Name</a></li>
                            }
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Raise a Query</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Home/Chat"><i class="fa fa-comments-o "></i> Room Query</a>
                            </li>
                            <li>
                                <a href="~/Home/Rating"><i class="fa fa-star "></i> Rate us</a>
                            </li>
                            <li>
                                <a href="~/Bookings/TermsAndCondition"><i class="fa fa-star "></i>Terms And Conditions</a>
                            </li>
                        </ul>

                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-square-o"></i>
                            <span>Hotel Details</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Home/About"><i class="fa fa-list "></i> About Us</a>
                            </li>
                            <li>
                                <a href="~/Home/Contact"><i class="fa fa-phone "></i> Contact Us</a>
                            </li>
                        </ul>

                    </li>
                    }




                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Prometheus Hotel
                    <span class="pull-right">@DateTime.Now.ToLongDateString()</span>
                </h1>
            </section>
            <section class="content">
                <div class="row">

                    @*<div class="col-md-3 col-sm-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Registered <br />Guest(s)</span>
                                <span class="info-box-number">@guest<small></small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-hotel"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Available <br />Room(s)</span>
                                <span class="info-box-number">@rooms<small></small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-building"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Available Hotel <br />Location(s)</span>
                                <span class="info-box-number">@location<small></small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-tv"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Asset(s)</span>
                                <span class="info-box-number">@countAssets<small></small></span>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="col-lg-3 col-xs-6">
                        <div class="info-box">
                            <div class="inner">
                                <h3>@countBlocks</h3>
                                <p>Total Block(s)</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-building-o"></i>
                            </div>

                        </div>
                    </div>*@
                    <!-- ./col -->
                    @*<div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>@countRooms</h3>
                                <p>Total Room(s)</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-hotel"></i>
                            </div>

                        </div>
                    </div>*@
                    <!-- ./col -->
                    @*<div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>@countEmplyees</h3>
                                <p>Total Employee(s)</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-male"></i>
                            </div>

                        </div>
                    </div>*@
                    <!-- ./col -->
                    @*<div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>@countAssets</h3>
                                <p>Total Asset(s)</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-tv"></i>
                            </div>

                        </div>
                    </div>*@
                </div>

                <div class="row">
                    <section class="col-lg-12 connectedSortable">
                        <div class="box box-primary">
                            <div class="box-body">
                                @RenderBody()
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <footer class="main-footer" style="text-align:center">
            <strong>Copyright &copy; @DateTime.Today.Year Prometheus Hotel</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js"></script>
    <!-- datepicker -->
    <script src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/AdminLTE-2.3.11/AdminLTE-2.3.11/dist/js/app.min.js"></script>
    <script>
        $(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
            //Date picker
            $('.datepicker').datepicker({
                autoclose: true
            });
            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>
</body>
</html>
